    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,width=device-width,minimum-scale=1,initial-scale=1">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="/feed/atom.xml">
    <link href="/styles.css" type="text/css" media="screen" rel="stylesheet">
    <link href="/print.css" type="text/css" media="print" rel="stylesheet">
    <script type="text/javascript" async="" src="http://platform.twitter.com/widgets.js"></script>
    {% seo %}
    {% feed_meta %}
