    <div id="navigation" role="navigation" class="nav"><nav>
      <a href="http://rubyonrails.org/" title="Ruby on Rails Main">Overview</a> |
      <a href="http://rubyonrails.org/download/" title="Download the Ruby on Rails last version">Download</a> |
      <a href="http://rubyonrails.org/deploy/" title="How to deploy Ruby on Rails">Deploy</a> |
      <a href="https://github.com/rails/rails/issues" title="Bugs/Parches report of Ruby on Rails github">Bugs/Patches</a> |
      <a href="http://rubyonrails.org/screencasts/" title="Some screencasts about Rails">Screencasts</a> |
      <a href="http://rubyonrails.org/documentation/" title="APIs, Books and Guides documentation about Ruby on Rails">Documentation</a> |
      <a href="http://rubyonrails.org/community/" title="Join to the Ruby on Rails Community">Community</a> |
      <a href="/">Blog</a>
    </nav></div>
