    <div id="navigation" class="nav"><nav>
      <a href="http://rubyonrails.org/">Overview</a> |
      <a href="http://rubyonrails.org/download/">Download</a> |
      <a href="http://rubyonrails.org/deploy/">Deploy</a> |
      <a href="https://github.com/rails/rails/issues">Bugs/Patches</a> |
      <a href="http://rubyonrails.org/screencasts/">Screencasts</a> |
      <a href="http://rubyonrails.org/documentation/">Documentation</a> |
      <a href="http://rubyonrails.org/ecosystem/">Ecosystem</a> |
      <a href="http://rubyonrails.org/community/">Community</a> |
      <a href="/">Blog</a>
    </nav></div>