          <div id="search" class="section"><section>
            <h3 id="search_box">Search</h3>
            <form action="http://www.google.com/search" method="get">
              <input type="hidden" name="q" value="site:weblog.rubyonrails.org">
              <input type="text" aria-labelledby="search_box" name="q" value="">
            </form>
          </section></div>
          <div id="job" class="section"><section>
            <h3>Job Board</h3>
            <script language="JavaScript" src="http://www.37signals.com/svn/job.fcgi"></script>
          </section></div>
          <div id="podcasts" class="section"><section>
            <h3>Podcast</h3>
            <ul class="list">
              <li><a href="http://ruby5.envylabs.com/" title="Ruby5 - The latest news in the Ruby and Rails community">Ruby5 Podcast</a></li>
            </ul>
          </section></div>
          <div id="categories" class="section"><section>
            <h3>Categories</h3>
            <ul class="list">
            {% for category in site.categories %}
              <li><a href="/{{ category | first }}/">{{ category | first | capitalize }}</a></li>
            {% endfor %}
            </ul>
          </section></div>
          <div id="syndication" class="section"><section>
            <h3>Syndicate</h3>
            <ul class="list">
              <li class="rss icon"><a href="http://weblog.rubyonrails.org/feed/atom.xml" title="XML feed file">Articles</a></li>
            </ul>
          </section></div>
          <div id="follow" class="section"><section>
            <p><a href="http://twitter.com/rails" class="twitter-follow-button" title="follow @rails on Twitter" data-show-count="false">Follow @rails</a></p>
          </section></div>
