          <div id="search" class="section"><section>
            <h3>Search</h3>
            <form action="http://www.google.com/search" method="get">
              <input type="hidden" name="q" value="site:weblog.rubyonrails.org">
              <input type="text" name="q" value="">
              <button type="submit">Go</button>
            </form>
          </section></div>
          <div id="job" class="section"><section>
            <h3>Job Board</h3>
            <script language="JavaScript" src="http://www.37signals.com/svn/job.fcgi"></script>
          </section></div>
          <div id="podcasts" class="section"><section>
            <h3>Podcasts</h3>
            <ul class="list">
              <li><a href="http://ruby5.envylabs.com/">Ruby5 Podcast</a></li>
              <li><a href="http://5by5.tv/rubyshow">Ruby Show</a></li>
              <li><a href="http://podcast.rubyonrails.org/">RoR Podcast</a></li>
            </ul>
          </section></div>
          <div id="categories" class="section"><section>
            <h3>Categories</h3>
            <ul class="list">
            {% for category in site.categories %}
              <li><a href="/{{ category | first }}/">{{ category | first | capitalize }}</a></li>
            {% endfor %}
            </ul>
          </section></div>
          <div id="syndication" class="section"><section>
            <h3>Syndicate</h3>
            <ul class="list">
              <li class="rss icon"><a href="http://feeds.feedburner.com/RidingRails" title="Articles feed">Articles</a></li>
            </ul>
          </section></div>
          <div id="follow" class="section"><section>
            <p><a href="http://twitter.com/rubyonrails" class="twitter-follow-button" data-show-count="false">Follow @rubyonrails</a></p>
          </section></div>
